<app-header-component></app-header-component>
<div class="row">
    <div class="col-md-12">
      <h2>liste des <b>Produits</b></h2>
    </div>
</div>   
<div class="group">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
    <input placeholder="Search" type="search" class="input" [(ngModel)]="searchKeyword" (input)="searchProduits()">
  </div>
<div class="row product-container">    
    <div class="col-md-3 col-sm-6 mb-3" *ngFor="let product of produits"  >
      <div class="product-grid">
        <div class="product-image" >
          <a (click)="goToDetails(product.id!)" class="image">
            <img [src]="product.image" alt="Image" >
          </a>
          <span class="product-discount-label" *ngIf="product.remise! > 1">-{{ product.remise }}%</span>
          <ul class="product-links">
            <li><a (click)="goToDetails(product.id!)"><i class="fa fa-search"></i></a></li>
            <li><a href="#"><i class="fa fa-heart"></i></a></li>
            <li><a href="#"><i class="fa fa-random"></i></a></li>
          </ul>
          <a (click)="AddToCart(1 ,product)" class="add-to-cart">Add to Cart</a>
        </div>
        <div class="product-content">
          <h3 class="title"><a (click)="goToDetails(product.id!)">{{ product.name }}</a></h3>
          <div class="price">{{ product.prix }} <span *ngIf="product.remise!">{{ product.prix! * (1 - (product.remise! / 100)) }}</span></div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example" class="pagination-nav" style="float: right; margin-top: 10px; margin-left: 900px;">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" (click)="previousPage()">Previous</a>
        </li>
        
        <ng-container *ngFor="let pageNumber of getPageNumbers()">
          <li class="page-item" [ngClass]="{'active': pageNumber === currentPage+1}">
            <a class="page-link" (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
          </li>
        </ng-container>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
  </div>
 <router-outlet>
</router-outlet>
<app-footer></app-footer>