<div class="wrapper">
    <!-- Sidebar -->
    <nav class="sidebar">
        <h3>ESPACE <b>ADMIN</b></h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/dash"><i class="fas fa-tachometer-alt mr-2"></i><span>Dashboard</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/article"><i class="fas fa-cubes mr-2"></i>Stock</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories"><i class="fas fa-tags mr-2"></i>Categorie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/users"><i class="fas fa-user mr-2"></i>Utilisateur</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shopping-cart mr-2"></i>Commande</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-credit-card mr-2"></i>Paiement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-truck mr-2"></i>Livraison</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content -->
</div>
<router-outlet></router-outlet>

