body {
    background: #4b7405
}
.container{
    height: 500px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #78bf00
}

.profile-button {
    background: #4b7405;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #527e05
}

.profile-button:focus {
    background: #527e05;
    box-shadow: none
}

.profile-button:active {
    background: #527e05;
    box-shadow: none
}

.back:hover {
    color: #527e05;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #78bf00;
    color: #fff;
    cursor: pointer;
    border: solid 1px #527e05
}