<app-header-component></app-header-component>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img [src]="user.image" alt="{{ user.nom }} Image" class="rounded-circle mt-5" width="250px" >
                <span class="font-weight-bold">{{ user.nom }} {{ user.prenom }}</span>
                <span class="text-black-50">{{ user.email }}</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form (ngSubmit)="updateUser()">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label class="labels">Nom</label>
                            <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="user.nom" name="nom">
                        </div>
                        <div class="col-md-6">
                            <label class="labels">Prenom</label>
                            <input type="text" class="form-control" placeholder="Prenom" [(ngModel)]="user.prenom" name="prenom">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label class="labels">Telephone</label>
                            <input type="text" class="form-control" placeholder="enter phone number" [(ngModel)]="user.telephone" name="telephone">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address</label>
                            <input type="text" class="form-control" placeholder="enter address" [(ngModel)]="user.adresse" name="adresse">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Residence</label>
                            <input type="text" class="form-control" placeholder="enter Residence" [(ngModel)]="user.residence" name="residence">
                        </div>
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit" >Save Profile</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="col-md-12">
                    <label class="labels">Code Postal</label>
                    <input type="text" class="form-control" placeholder="enter code Postal" [(ngModel)]="user.codePostal" name="codePostal">
                </div>
                <div class="col-md-12">
                    <label class="labels">Ville</label>
                    <input type="text" class="form-control" placeholder="enter Ville" [(ngModel)]="user.ville" name="ville">
                </div>
                <div class="col-md-12">
                    <label class="labels">Photo</label>
                    <input type="text" class="form-control" [(ngModel)]="user.image" name="image">
                </div>
                <div class="col-md-12">
                    <label class="labels">PassWord</label>
                    <input type="password" class="form-control" placeholder="enter PassWord" [(ngModel)]="user.password" name="password">
                </div>
                <div class="col-md-12">
                    <label class="labels">Date</label>
                    <input type="date" class="form-control" placeholder="Date" [(ngModel)]="user.dateNaiss" name="dateNaiss">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>